[Unit]
Description=The Lumi light server

[Service]
Type=simple
Environment=RUST_BACKTRACE=1
WorkingDirectory=/opt/lumi
ExecStart=/opt/lumi/lumi

[Install]
After=pi-blaster.service
Requires=pi-blaster.service
Before=nginx.service
WantedBy=multi-user.target
